

#edu-nsw{
  font-family: "Edu NSW ACT Foundation", cursive;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}
.d-block{
    width: 500px;
    height: 500px;
}


#edu-nsw-1{
  font-family: "Edu NSW ACT Foundation", cursive;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
}
#carousel-slide{
  width: 300px;
  height: 300px;

}

